body {
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100vh; /* Full viewport height */
  position: fixed; /* Keep it fixed in place */
  top: 0;
  left: 0;
  overflow-y: auto; /* Enable scrolling if content overflows */
  background-color: #f8f9fa; /* Background color for the sidebar */
  width: 250px; /* Set sidebar width */
}

.sidebar .nav-link {
  color: #555;
}

.sidebar .nav-link.active {
  font-weight: bold;
  color: #000;
}
/* Table Container */
.table-container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-item{
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 16px;

}
.nav-link:hover{
  background-color: #FBEBB5;
  border-radius: 8px;
}
.backToHomeBtn{
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #FBEBB5;
  border-radius: 8px;
}
.backToHomeBtn a{
  text-decoration: none;
  color: black;
}

.logoImg{
  width: 160px;
  height: 160px;
}



.card1{
  background-color: #f5fcfd;
}
.card2{
  background-color: #f5fdf6;
}
.card3{
  background-color: #f6f5fd;
}

.charts-and-lists .card {
  margin-bottom: 1.5rem;
}
.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

#polarAreaChart {
  max-height: 300px;
}
/* Table styling */
.table thead th {
  background-color: #f1f1f1;
}
.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}


/* Custom CSS for Mobile View */
@media (max-width: 767.98px) {
    .table-responsive {
    overflow-x: auto;
  }
    .table {
        font-size: 14px;
      }
  #sidebar {
    position: fixed;
    top: 0;
    left: -100%; /* Hide the sidebar by default */
    bottom: 0;
    z-index: 1000;
    width: 250px; /* Set a fixed width for the sidebar */
    transition: left 0.3s ease-in-out; /* Smooth transition */
  }

  #sidebar.collapse.show {
    left: 0; /* Show the sidebar when toggled */
  }

  .navbar-toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    margin: 0.75rem; /* Adjust spacing */
    background-color: white; /* Add background for visibility */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Add border for better visibility */
  }

  main {
    margin-top: 60px; /* Add margin to prevent content from overlapping the burger menu */
  }
}
.navbar-toggler {
  background-color: transparent !important; /* Remove background */
  border: none !important; /* Remove border */
}

/* Ensure the burger menu icon is visible */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}