body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container-fluid {
  height: 100vh;
}

.row {
  height: 100%;
}

/* Welcome Section */
.welcome-section {
  background-image: url('../assets/images/illustration.png') ;
 background-size: cover;
background-position: center;

  color: rgb(102, 102, 102);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.welcome-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.welcome-content p {
  font-size: 1.2rem;
}

/* Signup/Login Section */
.signup-section, .login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.signup-form, .login-form {
  max-width: 400px;
  width: 100%;
}

.signup-form h2, .login-form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.form-control {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}


.btn-outline-secondary {
  border-color: #007bff;
  color: #007bff;
}

.btn-outline-secondary:hover {
  background-color: #007bff;
  color: white;
}